<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}博客{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="/static/images/icon.png">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    {% block custom_css %} {% endblock %}
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/nprogress.js"></script>
    <script src="/static/js/jquery.lazyload.min.js"></script>
    <!--[if gte IE 9]>
      <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
      <script src="js/html5shiv.min.js" type="text/javascript"></script>
      <script src="js/respond.min.js" type="text/javascript"></script>
      <script src="js/selectivizr-min.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script>window.location.href='upgrade-browser.html';</script>
    <![endif]-->
</head>
<body class="user-select">
<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="header-topbar hidden-xs link-border">
                <ul class="site-nav topmenu">
                    <li><a href="http://www.baidu.com/tags/">标签云</a></li>
                    <li><a href="http://www.baidu.com/readers/" rel="nofollow">读者墙</a></li>
                    <li><a href="http://www.baidu.com/rss.html" title="RSS订阅">
                        <i class="fa fa-rss">
                        </i> RSS订阅
                    </a></li>
                </ul>
                勤记录 懂分享
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#header-navbar" aria-expanded="false"><span class="sr-only"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <h1 class="logo hvr-bounce-in"><a href="http://www.baidu.com/" title="网络博客"><img
                        src="/static/images/favicon.ico" alt="网络博客"></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <form class="navbar-form visible-xs" action="/search/" method="post">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20"
                               autocomplete="off">

                        <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span></div>
                    {% csrf_token %}
                </form>
                <ul class="nav navbar-nav navbar-left">
                    <li><a data-cont="网络博客" title="网络博客" href="/index/">首页</a></li>
                    <li><a data-cont="列表页" title="列表页" href="/list/">列表页</a></li>

                </ul>

                {% if user.is_authenticated %}

                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-cont="网络博客" title="网络博客" href="#">欢迎：{{ user.username }}</a></li>
                        <li><a data-cont="列表页" title="列表页" href="/loginout/">注销</a></li>

                    </ul>

                {% else %}

                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-cont="网络博客" title="网络博客" href="/login/">登录</a></li>
                        <li><a data-cont="列表页" title="列表页" href="/register/">注册</a></li>

                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<footer class="footer">
    <div class="container">
        <p>本站[<a href="http://www.baidu.com/">网络博客</a>]的部分内容来源于网络，若侵犯到您的利益，请联系站长删除！谢谢！Powered By [<a
                href="http://www.dtcms.net/" target="_blank" rel="nofollow">DTcms</a>] Version 4.0 &nbsp;<a
                href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">闽ICP备00000000号-1</a> &nbsp; <a
                href="http://www.baidu.com/sitemap.xml" target="_blank" class="sitemap">网站地图</a></p>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>
<script src="/static/js/bootstrap.min.js"></script>
{#<script src="/static/js/jquery.ias.js"></script>#}
<script src="/static/js/scripts.js">

</script>
</body>
</html>